<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/logsign.css">
</head>
<body>
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">
    
    <div class="signup">
      <form>
        <label for="chk" aria-hidden="true">Register</label>
        <!-- <input type="text" name="txt" id = "username" placeholder="username" required=""> -->
        
        <!-- <input type="password" name="pswd" id = "password" placeholder="password" required=""> -->
        <!-- <button type = "submit" value = "login">Sign up</button> -->
        <div class="error" style="background-color: red;"></div>
        <!-- <label for="username" >Username</label><br> -->
        <input type="text" id="username" placeholder = "username" required/><br>
        <!-- <label for="password">Password</label><br> -->
        <input type="password" id="password" placeholder = "password" required><br>
        <button type = "submit" value = "register">SignUp</button>
        <!-- <input type="submit" id = "submit" value="login"><br> -->
      </form>
    </div>
    
    <!-- <div class="login">
      <form>
        <label for="chk" aria-hidden="true">ADMIN</label> -->
        <!-- <input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Login</button> -->
      <!-- </form> -->
    <!-- </div> -->
  </div>

  <script>
    const form = document.querySelector('form')
    const username = document.querySelector('#username')
    const password = document.querySelector('#password')
    const display = document.querySelector('.error')

     form.addEventListener('submit', async (e) => {
        e.preventDefault()
        display.textContent = ''
        try {
          const res = await fetch('/api/auth/register', {
            method: 'POST',
            body: JSON.stringify({ username: username.value, password: password.value, role: "Basic" }),
            headers: { 'Content-Type': 'application/json' }
          })
          const data = await res.json()
          if(res.status === 400 || res.status === 401){
           return display.textContent = `${data.message}. ${data.error ? data.error : ''}`
          }
          data.role === "admin" ? location.assign('/admin') : location.assign('/basic')
          
        } catch (err) {
          console.log(err.message)
        }

      })
  </script>
</body>
</html>